.clients {
   &__list {

    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      flex-wrap: nowrap;
      margin-top: 50px;
    }
  }

    &__link {
      width: 100%;
      height: 92px;
      border: 1px solid #afb1b8;
      border-radius: 4px;
      color: rgba(175, 177, 184, 1);
      background-color: var(--white-color);
      display: flex;
      justify-content: center;
      align-items: center;
    
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
        &:hover,
        &:focus {
          color: rgba(33, 150, 243, 1);
          background-color: var(--white-color);
          border: 1px solid var(--blue-color);
          border-radius: 4px;
        }

    @media screen and (min-width: $desktop) {
          width: 170px;
        }
    }

    &__icon {
      fill: currentColor;
    }
  &__company {
    width: 100%;
    gap: 30px;
    flex-basis: calc((100% - 30px) / 2);
      
    }

    @media screen and (min-width: $tablet) {
        flex-basis: calc((100% - 60px) / 3);

        }

  }



