.footer {
    background-color: var(--accent-color);
    margin-top: 0px;
    padding-top: 60px;
    padding-bottom: 60px;

    & .footer__adress {
      color: var(--white-color);
      text-decoration: none;
    }

    & .footer__link {
      color: rgba(255, 255, 255, 0.6);
      text-decoration: none;
    
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      &:hover,
      &:focus {
        color: var(--white-color);
      }
    }

    &__logo {
      color: var(--white-color);
    }

    &__nav {
      font-style: normal;
      padding-left: 0;
      padding-top: 20px;
    }

    &__auth-nav:not(:last-child) {
      margin-bottom: 8px;

      @media screen and (min-width: $desktop) {
        margin-bottom: 9px;
      }
    }

    &__info {
      display: block;
      text-align: center;

      @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        
      }

      @media screen and (min-width: $desktop) {
      display: flex;
      flex-wrap: nowrap;
      align-items: baseline;
      text-align: start;
      }

    }

    &__join {
      margin-top: 60px;
      margin-bottom: 60px;

      @media screen and (min-width: $tablet) {
        margin-top: 0;
        margin-left: 165px;
      }

      @media screen and (min-width: $desktop) {
        margin-left: 70px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &__title {
      text-transform: uppercase;
      color: rgba(255, 255, 255, 1);
      margin-bottom: 20px;
    }

    &__contact {
      display: flex;
      justify-content: center;
      @media screen and (min-width: $desktop) {
    justify-content: flex-start;
      }
    }

    &__main-link {
      color: rgba(255, 255, 255, 1);
      background-color: rgba(255, 255, 255, 0.1);
      margin-right: 10px;
    }

    &__label {
      display: block;

      @media screen and (min-width: $tablet) {
      margin-left: 166px;
      margin-top: 60px;
     
      }
      
      @media screen and (min-width: $desktop) {
        margin-left: 93px;
      } 
    }

    &__field {
      width: 100%;
      height: 50px;
      background: rgba(47, 48, 58, 1);
      border: 1px solid rgba(255, 255, 255, 0.6);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      color: rgba(255, 255, 255, 0.6);

      @media screen and (min-width: $tablet) {
        width: 450px;
      }

      @media screen and (min-width: $desktop) {
        width: 358px;
      }
    }

    &__button {
      width: 200px;
      height: 50px;
    
      background: var(--blue-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border: none;
      cursor: pointer;
    
      color: var(--white-color);
      font-weight: 700;
      font-size: 16px;
      line-height: 1, 88;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.06em;
    
      padding: 10px 28px;
      margin-left: 12px;
      justify-content: center;

      &:hover,
      &:focus {
        background-color: #188CE8;
       }
    }

    &__icon {
      margin-left: 10px;
      fill: var(--white-color);

    }

    &__btn {
      display: flex;
      margin-top: 20px;
      margin-bottom: auto;
      justify-content: center;

      @media screen and (min-width: $tablet) {
        margin-left: auto;
        margin-right: auto;
      }


      @media screen and (min-width: $desktop) {
    justify-content: flex-start;
    margin-top: 111px;
    
      }
    }

    
  .input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1, 25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  &__main {
    @media screen and (min-width: $tablet) {
     margin-left: 61px;
    }
  }
}

.input-wrapper {
  @media screen and (min-width: $tablet) {
margin-bottom: 0;
  }
}