
  .team {
    background-color: #f5f4fa;

    &__img {
      max-width: 100%;
    }


    &__list {
      display: block;

      @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      @media screen and (min-width: $desktop) {
        display: flex;
        flex-wrap: nowrap;
      }
    } 

      & .title {
        color: var(--title-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 10px;
      }

      &__item {
        padding-top: 30px;
       
        // @media screen and (max-width: $pre-desktop) {
        //   &:nth-child(-n+2) {
        //     padding-top: 0;
        //   }
        // }
        @media screen and (min-width: $tablet) {
          flex-basis: calc((100% - 30px) / 2);
          }
    
          @media screen and (min-width: $desktop) {
           margin-left: 30px;
            &:first-child {
              margin-left: 0;
            }
            & > .team__item {
              padding-top: 30px;
            }
          }
      }
    &__card {
      background-color: var(--white-color);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }

  &__image {
      display: block;
      width: 100%;
      height: auto;
    } 

    &__name {
      text-align: center;
      padding-top: 30px;
      padding-bottom: 24px;

      @media screen and (min-width: $desktop) {
        padding-bottom: 30px;
      }
    }

 &__contact {
  display: flex;
  justify-content: center;
  align-items: center;
 }
  
  }

   
    .link-svg {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      color: rgba(175, 177, 184, 1);
      background-color: rgba(255, 255, 255, 1);
      display: flex;
      justify-content: center;
      align-items: center;
    
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

       &:hover,
       &:focus {
        background-color: rgba(33, 150, 243, 1);
        color: rgba(255, 255, 255, 1);
      } 
    }
    .icon-symbol {
      fill: currentColor;
    }